<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">E-Commerce</h5>
          <p>
            Your one-stop shop for all your needs.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-dark">Home</a>
            </li>
            <li>
              <a href="/products" class="text-dark">Products</a>
            </li>
            <li>
              <a href="/cart" class="text-dark">Cart</a>
            </li>
            <li>
              <a href="/orders" class="text-dark">Orders</a>
            </li>
            <li>
              <a href="/auth/login" class="text-dark">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-dark" href="/">ecommerce.com</a>
    </div>
  </footer>
  