<div class="banner pt-5">
    <div class="container-fluid">
      <div class="row">
        <!-- First Column: Carousel -->
        <div class="col-md-6">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="Repter.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <!-- Second Column: Blank with White Background -->
        <div class="col-md-6 bg-black">
          <!-- Future text or content can be added here -->
        </div>
      </div>
    </div>
  </div>
  