<div>
  <app-header></app-header>
</div>

<div class="product-details container mt-5 d-flex">
  <div class="product-image me-4">
    <img [src]="apiBaseUrl + product.imageURL" alt="{{ product.name }}" class="img-fluid rounded">
  </div>

  <div class="product-info">
    <h2 class="fw-bold">{{ product.name }}</h2>
    <p class="product-description text-muted">{{ product.description }}</p>
    <h3 class="product-price text-success">₹{{ product.price }}</h3>

    <div class="product-quantity mb-3">
      <label for="quantity" class="form-label">Quantity:</label>
      <div class="quantity-controls d-flex align-items-center">
        <button (click)="decreaseQuantity()" class="btn btn-outline-secondary btn-sm me-2">-</button>
        <input type="number" id="quantity" [(ngModel)]="quantity" min="1" class="form-control w-25 me-2">
        <button (click)="increaseQuantity()" class="btn btn-outline-secondary btn-sm">+</button>
      </div>
    </div>

    <!-- Add to Cart Button -->
    <button class="btn btn-primary me-2" (click)="addToCart(product.productID, quantity)">Add to Cart</button>

    <!-- Buy Now Button -->
   
  </div>
</div>

<div>
  <app-footer></app-footer>  
</div>
